<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>9021</ApplicationRevision>
    <ApplicationVersion>1.2.2406.9021</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>True</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://www.starcitizenproject.com/installs/uexdatarunner/</InstallUrl>
    <IsRevisionIncremented>False</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <ManifestCertificateThumbprint>C37C7F0CD41F7266450B338C100B628656F29C0A</ManifestCertificateThumbprint>
    <ManifestKeyFile>DesktopClient_TemporaryKey.pfx</ManifestKeyFile>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>Uex Data Runner Client</ProductName>
    <PublishDir>bin\Release\net8.0-windows7.0\win-x64\app.publish\</PublishDir>
    <PublishUrl>bin\uexdatarunner\</PublishUrl>
    <PublisherName>UEX Corp</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>True</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SupportUrl>https://discord.com/channels/1114235130471522316/1199877670197014629</SupportUrl>
    <TargetCulture>en</TargetCulture>
    <TargetFramework>net8.0-windows7.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <SkipPublishVerification>false</SkipPublishVerification>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="Images\uexlogo.ico">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
    <PublishFile Include="Persistence.Api.Mock">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Exclude</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>Assembly</FileType>
    </PublishFile>
    <PublishFile Include="RichardSzalay.MockHttp">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Exclude</PublishState>
      <IncludeHash>false</IncludeHash>
      <FileType>Assembly</FileType>
    </PublishFile>
  </ItemGroup>
</Project>