# Rules in this file were initially inferred by Visual Studio IntelliCode from the C:\Users\batom\source\repos\UexCorpDataRunnerClient\src codebase based on best match to current usage at 3/25/2022
# You can modify the rules from these initially generated values to suit your own policies
# You can learn more about editorconfig here: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
[*.cs]

# IDE0160: Convert to block-scoped namespace
csharp_style_namespace_declarations = file_scoped:warning